[Unit]
Description=CASM Worker Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/CASM
ExecStart=/usr/local/bin/celery -A app.celerytask.celery worker -l info -Q casmtask -n casmtask -c 5 -O fair -f casm_worker.log

[Install]
WantedBy=multi-user.target

